* {
    box-sizing: border-box;
  }
body{
    margin:0;
    transform-origin: top left;
    transform: scale(1);
    transition: transform 0.3s ease;
    font-family: sans-serif;
    font-size:17px;
}
p{
    font-size:18px;
}
h2{
    font-size:18px;
    font-weight: normal;
}
h3{
    font-size:20px;
    font-weight: normal;
}
h4{
    font-size:16px;
    font-weight: normal;
}
.content{
    display: flex;
    height:100vh;
    width:100vw;
    overflow:hidden;
    background-color: #fff;
}
.content a{
    color:black;
}
.content-menu{
    height:100vh;
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.2);
}
.menu-top-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #dcdcdc;
}
.profile-pic{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100px;
    width:100px;
    margin:30px 10px 10px 10px;
    border-radius: 50%;
    border:2px solid #ff4c4c;
}
.profile-pic img{
    height:88px;
    width:88px;
    border-radius: 50%;
}
.menu-top-2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom: 1px solid #dcdcdc;
    padding:5px 0 15px 0;
    /*align-items: center;*/
}
.menu-bar{
    margin:12px 30px 12px 30px;
}
.menu-name{
    padding:20px;
}
#menu-icon{
    height:25px;
    width:25px;
    padding:3px 0 0 0;
}
#menu-active{
    color:#ff4c4c;
}
#menu-link{
    text-decoration: none;
}
.menu-top-3{
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    margin:20px 50px 10px 30px;
}
.menu-top-3 img{
    border-radius: 3px;
    height:76px;
    width:216px;
}
.content-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-left:50px;
    overflow: auto;
    width:100%;
}
.content-container-header{
    display: flex;
    margin:30px 0 10px 0px;
    align-items: center;
}
.content-container-header img{
    margin:12px;
    height:28px;
    width:28px;
}
/* courses page styles start*/

.course{
    display: flex;
    /*justify-content: space-around;*/
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}
.course-content{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    margin:10px 15px 30px 15px;
    height:480px;
    width:300px;
}
.course-content img{
    height:250px;
    width:300px;
    border-radius: 3px;
    padding:10px;
}
.course-content p{
    padding:5px 10px 5px 10px;
    margin:0px;
}
.course-content h2{
    padding:10px 0px 20px 10px;
    margin:0px;
    margin:0 10px 0 0;
}
.course-content h3{
    padding:5px 10px 5px 10px;
    margin:0px;
    color:#ff4c4c;
}
#course-total-price{
    text-decoration: line-through;
    font-size:16px;
    color: #404040;
}
.course-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#course-enroll-button{
    padding:10px 20px 10px 20px;
    margin:20px;
    border:0px;
    color:#fff;
    background-color: #ff4c4c;
    border-radius: 2px;
    font-size:16px;
    cursor: pointer;
}
#course-view-button{
    padding:10px 20px 10px 20px;
    margin:20px;
    border:0px;
    color:#fff;
    background-color: #389738;
    border-radius: 2px;
    font-size:16px;
}
#course-expire-button{
    padding:10px 20px 10px 20px;
    margin:20px;
    border:0px;
    color:#fff;
    background-color: #008B8B;
    border-radius: 2px;
    font-size:16px;
}
#course-demo-button{
    border:0px;
    padding:10px 20px 10px 20px;
    margin:20px;
    border:1px solid #404040;
    border-radius: 2px;
    font-size: 16px;
    background-color: #fff;
    cursor: pointer;
}
#course-expire{
    opacity:0.6;
}
#expire-image{
    height:80px;
    width:280px;
}
/* courses page styles end */

/* course detail styles start */
.course-detail-content{
    display: flex;
    /*justify-content: space-around;*/
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    margin:10px;
}
.course-detail-content-1{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}
.course-detail-content-1 img{
    height:350px;
    width:550px;
    margin:20px;
    border-radius: 2px;
}
.course-detail-content-1 p{
    padding:5px 10px 5px 20px;
    margin:0px;
}
.course-detail-content-1 h2{
    padding:10px 0px 20px 20px;
    margin:0px;
}
.course-detail-content-1 h3{
    padding:5px 10px 5px 20px;
    margin:0px;
    color:#ff4c4c;
}
#course-total-price{
    text-decoration: line-through;
    font-size:16px;
    color: #404040;
}
.course-detail-content-1-inner{
    display: flex;
    justify-content: space-between;
}
#course-checkout-button{
    padding:10px 20px 10px 20px;
    margin:20px;
    border:0px;
    color:#fff;
    background-color: #ff4c4c;
    border-radius: 2px;
    font-size:16px;
    cursor: pointer;
}
#course-checkout-button-green{
    padding:10px 20px 10px 20px;
    margin:20px;
    border:0px;
    color:#fff;
    background-color: yellowgreen;
    border-radius: 2px;
    font-size:16px;
}
#course-checkout-button-red{
    padding:10px 20px 10px 20px;
    margin:20px;
    border:0px;
    color:#fff;
    background-color: orangered;
    border-radius: 2px;
    font-size:16px;
}
.course-detail-content-2{
    margin-top:30px;
}
.course-detail-content-2-inner{
    border:1px solid #dcdcdc;
    border-radius: 5px;
    border-bottom:0px;
    margin-right:40px;
}
/* list up down start*/
.collapsible {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 18px;
    width: 60vw;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-bottom:1px solid #dcdcdc;
    border-radius: 2px 2px 0 0;
}
.collapsible h4{
    padding:5px;
    margin:0px;
}
.active,#list-top-content, .collapsible:hover {
    background-color: #eee;
}
  
.collapsible:after {
    content: '+';
    font-weight: bold;
    float: right;
    margin-left: 0 0 0 5px;
    font-size:15px;
}
  
.active:after {
    content: "-";
    margin-left: 0 0 0 5px;
    font-size:15px;
}
  
.list-content{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}
.list-inner-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    border-bottom:1px solid #dcdcdc;
    background-color: #fbfbfb;
}

.list-inner-content:hover{
    background-color: #f2f2f2;
    
}
.list-inner-content img{
    height:40px;
    width:40px;
    padding:10px;
}
.list-inner-content p{
    font-size:15px;
    margin:0px;
    padding:20px 20px 20px 0;
}
/* list up down end */
.course-detail-content-3{
    margin-top:40px;
}
.about-course-content{
    margin-right:30px;
}
.about-course-content p{
    padding:10px;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #fbfbfb;
    text-align: justify;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* course detail styles end */


/* video player style start */
.video-content{
    display: flex;
    /*justify-content: space-around;*/
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}
.video-content-1{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}
.video-name-mobile{
    display: none;
}
.video-wrapper {
    width: 800px;
    height: 400px;
    border-radius:2px;
}
.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    cursor: pointer;
}
.video-content-2{
    width:800px;
    margin-top:15px;
    border:1px solid #dcdcdc;
    border-bottom:0px;
    margin-bottom: 100px;
    border-radius: 3px;
}
.video-content-2 a{
    text-decoration: none;
}
.video-content-2-header{
    background-color: #f6f6f6;
    margin:0px;
}
.video-content-2-header h2{
    padding:15px 10px 15px 10px;
    border-radius: 2px;
    margin:0px;
}
.video-content-2-inner{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom:1px solid #dcdcdc;
}
.video-content-2-inner:hover{
    background-color: #f6f6f6;
}
.video-content-2-inner img{
    height:20px;
    width:20px;
    margin:10px;
}
.video-content-2-inner p{
    font-size:15px;
}
#video-content-2-inner-button{
    border:0px;
    background-color: #333;
    padding:5px 10px 5px 10px;
    border-radius: 2px;
    margin:10px 0 10px 30px;
    color:yellow;
}
.fa{
    margin-left:30px;
    color:#404040;
    font-size:15px;
}
/* video player style end */


/* test details styles start */
.test-details{
    display: flex;
    /*justify-content: space-around;*/
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top:50px;
}
.test-details-content{
    height:380px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    margin:10px 30px 30px 15px;
    border-radius:25px 5px 25px 5px;
    width:280px;
}
#test-special{
    background-color: #eafbf1;
    color: #0fbc57;
}
.test-details-content-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height:68px;
    border-bottom:1px solid #dcdcdc;
    background-color: #fff4ea;
    color:#f70;
    border-radius: 2px;
    border-radius:25px 5px 0px 0px;
}
.test-details-content-1 h3{
    font-size:17px;
    padding:0 8px 0 10px;
}
.test-details-content-1 img{
    height:25px;
    width:25px;
    margin-left:20px;
}
.test-details-content-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom:1px solid #dcdcdc;
}
.test-details-content-2 p{
    padding:5px;
    font-size:15px;
    margin-right: 50px;
}
.test-details-content-2 img{
    height:25px;
    width:25px;
    margin-left:10px;
    margin-right:10px;
}
.test-details-content-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
#test-start-button{
    background: #f70;
    border-radius: 4px;
    text-transform: uppercase;
    font: 500 16px/18px sans-serif;
    color: #fff;
    border: none;
    padding: 16px 30px;
    display: block;
    text-align: center;
    margin:20px 50px 20px 50px;
    transition: all .3s ease-in-out;
    position: relative;
}
#test-start-button-1{
    background-color: orange;
    color:#fff;
    border:none;
    border-radius:2px;
    font-size:16px;
    padding:10px 30px;
    margin:20px;
    cursor: pointer;
}
#test-expired-button-1{
    background-color: orangered;
    color:#fff;
    border:none;
    border-radius:2px;
    font-size:16px;
    padding:10px 30px;
    margin:20px;
}
#test-incomplete-button-1{
    background-color: orangered;
    color:#fff;
    border:none;
    border-radius:2px;
    font-size:16px;
    padding:10px 30px;
    margin:20px;
    cursor: pointer;
}
#test-view-report-button-1{
    background-color: #0fbc57 ;
    color:#fff;
    border:none;
    border-radius:2px;
    font-size:16px;
    padding:10px 30px;
    margin:20px;
    cursor: pointer;
}
#test-report-button{
    background: #f70;
    border-radius: 4px;
    text-transform: uppercase;
    font: 500 16px/18px sans-serif;
    color: #fff;
    border: none;
    padding: 16px 30px;
    display: block;
    text-align: center;
    margin:20px 50px 20px 50px;
    transition: all .3s ease-in-out;
    position: relative;
}
#test-expire-button{
    background: #f70;
    border-radius: 4px;
    text-transform: uppercase;
    font: 500 18px/20px sans-serif;
    color: #fff;
    border: none;
    padding: 16px 0;
    display: block;
    text-align: center;
    width: 82%;
    margin:30px 50px 30px 50px;
    transition: all .3s ease-in-out;
    position: relative;
}
/* test details styles end */

/*test comparision style start*/
.test-report{
    display: flex;
    justify-content:flex-start;
    align-items:flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}
.test-report-content{
    margin-left:30px;
    margin-top:10px;
}
.test-report-content-1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.test-report-box{
    height:100px;
    width:220px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-right:90px;
    margin-bottom:30px;
}
.test-report-box-outer{
    display: flex;
    justify-content: center;
    align-items: center;
    height:35px;
    margin-top:20px;
    width:260px;
    background-color: #5d198e;
    position:relative;
    margin-left:-20px;
    border-radius: 5px;
}
.test-report-box-outer h2{
    color:#fff;
    text-align: center;
    font-size:15px;
}
.test-report-box-inner{
    position: relative;
    margin-top:5px;
    width:220px;
}
.test-report-box-inner p{
    text-align: center;
    padding:10px;
    margin:0px;
    font-size:15px;
}
#test-report-box-2{
    background-color: #f70;
}
#test-report-box-3{
    background-color: orange;
}
#test-report-box-4{
    background-color: #389738;
}
#test-report-box-5{
    background-color: orangered;
}
#test-report-box-6{
    background-color: #BA55D3;
}
#test-report-box-7{
    background-color: orange;
}
#test-report-box-8{
    background-color: olivedrab;
}
#test-report-box-9{
    background-color: orangered;
}
.test-report-content-2{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#piechart_3d{
    overflow: hidden;
    width: 500px;
    height: 300px;
    display: block;
}
.test-question-report{
    margin-left:50px;
}
.test-question-report-inner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    margin-top:10px;
}
.test-question-report-inner img{
    height:25px;
    width:25px;
    margin-left:30px
}
.test-question-report-inner p{
   margin-left:10px;
   padding-right:30px;
}
#question-report-1 {
    background-color: #eafbf1;
    color: #0fbc57;
}
#question-report-2 {
    background-color: #fff4ea;
    color:#f70;
}
#question-report-3 {
    background-color: #f9eaf9;
    color:#e085dc;
}
#question-report-4 {
    background-color: #ebe8fc;
    color:#3d3c46;
}
.test-report-content-3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:30px 0;
}
#question-analysis-button{
    background: #f70;
    border-radius: 2px;
    font-size:15px;
    color: #fff;
    border: none;
    padding: 10px 20px;
    display: block;
    text-align: center;
    margin:0px 50px;
    transition: all .3s ease-in-out;
    position: relative;
    cursor: pointer;
}
#question-view-solution-button{
    background: #0fbc57;
    border-radius: 2px;
    font-size:16px;
    color: #fff;
    border: none;
    padding: 10px 20px;
    display: block;
    text-align: center;
    margin:0px 50px;
    transition: all .3s ease-in-out;
    position: relative;
    cursor: pointer;
}

.test-report-content-4{
    width:98%;
    margin-bottom:200px;
}
.test-report-content-4 table {
    width: 95%;
    border-collapse: collapse;
    font-family:sans-serif;
    border-radius: 5px;
}
  
.test-report-content-4  th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-collapse: collapse;
}
  
.test-report-content-4 th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: normal;
}
  
.test-report-content-4 tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
.test-report-content-4 tr:hover {
    background-color: #e5e5e5;
}
#student-rank-button-1{
    border:none;
    height:30px;
    width:30px;
    border-radius: 50%;
    color: #fff;
    background-color:#e085dc;
}
#student-rank-button-2{
    border:none;
    height:30px;
    width:30px;
    border-radius: 50%;
    color: #fff;
    background-color:#8270ef;
}
/*test comparision style end*/

/* test question analysis styles start */
.test-question-anlysis{
    display: flex;
    justify-content:flex-start;
    align-items:flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}
.test-question-anlysis-content{
    margin-left:30px;
    margin-top:10px;
}
.test-question-anlysis-content-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.test-question-anlysis-content-2{
    margin-top:40px;
    margin-bottom:300px;
}
.test-question-anlysis-content-2 img{
    height:25px;
    width:25px;
}
#question-table{
    width:68vw;
}
.test-question-anlysis-content-2 table {
    border-collapse: collapse;
    font-family:sans-serif;
    border-radius: 5px;
}
  
.test-question-anlysis-content-2 th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size:16px;
}
  
.test-question-anlysis-content-2 th {
    background-color: #f6f6f6;
    color: #333;
    font-weight: normal;
}
  
.test-question-anlysis-content-2tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
.test-question-anlysis-content-2 tr:hover {
    background-color: #e5e5e5;
}

#question-analysis-question-time-button{
    border:none;
    padding:6px 15px;
    border-radius:15px;
    background-color: #5d198e;
    color:#fff;
}

#question-analysis-question-answer-status-answered{
    border:none;
    padding:6px 15px;
    border-radius:15px;
    background-color: #0fbc57;
    color:#fff;
}
#question-analysis-question-answer-status-not-answered{
    border:none;
    padding:6px 15px;
    border-radius:15px;
    background-color: orangered;
    color:#fff;
}
#question-analysis-answered-solution-button{
    border:none;
    padding:6px 10px;
    border-radius:15px;
    background-color: #0fbc57;
    color:#fff;
}
#question-analysis-notanswered-solution-button{
    border:none;
    padding:6px 10px;
    border-radius:15px;
    background-color: orangered;
    color:#fff;
}
/* test question analysis styles end */


/* Question solution style start */
.solution-content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top:30px;
}
.solution-content-1{
    border:1px solid #dcdcdc;
    width:70vw;
    border-radius: 2px;
    margin-bottom:80px;
}

.solution-question p{
    padding:10px;
    margin:0px;
    color:#FF4C4C;
}
.solution-question-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff6f6;
}
#video-solution-button{
    border:0px;
    padding:8px 15px;
    border-radius: 5px;
    background-color: #FF4C4C;
    color:#fff;
    margin:10px;
}
#solution-video-play{
    font-size:15px;
    color:#fff;
    margin:0px;
}
.question_text p,h1,h2,h4,h5,h6{
    color:#000;
    margin:0px;
    padding:10px;
    line-height: 1.4;
    font-size:16px;
    font-family: var(--font-secondary);
}
.solution-question img{
    max-height:70vh;
    max-width:65vw;
    margin:10px;
}
.solution-content-answer-mcq{
    border:1px solid #dcdcdc;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width:66vw;
    margin:10px;
}
.solution-content-answer-mcq-left{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
#question-option-button{
    height:35px;
    width:35px;
    border:none;
    border-radius: 2px;
    margin:10px;
    color:#fff;
    background-color: #ff4c4c;
}
.solution-content-answer-mcq-right{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.solution-content-answer-mcq-right p,h1,h2,h4,h5,h6{
    color:#000;
    margin:0px;
    padding:10px;
    line-height: 1.4;
    font-size:16px;
    font-family: var(--font-secondary);
}
.solution-content-answer-mcq-right img{
    max-height:300px;
    max-width:62vw;
    margin:10px 30px;
}
.solution-content-answer-solution{
    border:1px solid #dcdcdc;
    max-width: 66vw;
    margin:10px;
}
.solution-content-answer-solution-top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin:10px;
    max-width:66vw;
}
#solution-top-button{
    padding:10px 30px;
    border:none;
    border-radius: 2px;
    background-color: #ff4c4c;
    color:#fff;
    margin:10px;
}
#solution-correct-answer-button{
    padding:10px 30px;
    border:none;
    border-radius: 2px;
    background-color: #5d198e;
    color:#fff;
    margin:10px;
}
#given-answer{
    color:#5d198e;
}
#solution-your-answer-button-correct{
    padding:10px 30px;
    border:none;
    border-radius: 2px;
    background-color: #0fbc57;
    color:#fff;
    margin:10px;
    margin:10px 10px 10px 50px;
}
#solution-your-answer-button-incorrect{
    padding:10px 30px;
    border:none;
    border-radius: 2px;
    background-color: orangered;
    color:#fff;
    margin:10px 10px 10px 50px;
}
#solution-your-answer-button-notattempt{
    padding:10px 30px;
    border:none;
    border-radius: 2px;
    background-color: orange;
    color:#fff;
    margin:10px 10px 10px 50px;
}
.solution-content-answer-solution-top h2{
    font-size:18px;
}
#your-answer-correct{
    color:#090a09;
}
#your-answer-incorrect{
    color:orangered;
}
#your-answer-notattempt{
    color:orange;
}
.solution-image{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin:20px;
}
.solution-image img{
    max-height:400px;
    max-width:65vw;
}
.solution-bottom-analysis{
    margin:20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.solution-bottom-analysis-1{
    display: flex;
    flex-direction: row;
    width:200px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin:10px;
    align-items: center;
    margin-right:10px;
}
.solution-bottom-analysis-1 img{
    height:25px;
    width:25px;
}
.solution-bottom-analysis-1 p{
    padding:10px 10px;
    margin:0px;
    font-size:15px;
    margin:0px;
}
#solution-bottom-green{
    background-color: #eafbf1;
    color: #0fbc57;
}
#solution-bottom-orange{
    background-color: #fff4ea;
    color: #f70;
}
#solution-bottom-blue{
    background-color: #f9f2f9;
    color: #932693;
}
#solution-bottom-blue-2{
    background-color: #ebe8fc;
    color: #3d3c46;
}
/* question pagination style start*/
.solution-pagination-bottom{
 margin-bottom:100px;   
}
#pagination-controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    text-align: center;
}

#page-numbers {
    display: inline-block;
    margin: 0 10px;
}

.page-number {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #ff4c4c;
    border-radius: 2px;
    margin-right: 2px;
    color:#fff;
}

.page-number.active {
    background-color: #0fbc57;
    color: #fff;
}
#prev-button{
    padding: 5px 10px;
    background-color: #ff4c4c;
    border-radius: 2px;
    margin-right: 2px;
    color:#fff;
    border:none;
}
#next-button{
    padding: 5px 10px;
    background-color: #ff4c4c;
    border-radius: 2px;
    margin-right: 2px;
    color:#fff;
    border:none;
}
/* question pagination style end*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top:0px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}
  
/* Modal Content */
.modal-content {
    margin: auto;
    padding: 0px;
    width: 60vw;
}
#videoPlayer{
    width:56vw;
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Question solution style end */

/* notes style start here */
.notes-content-1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.notes-content-1-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
    margin:10px;
    border-radius: 2px;
}
.notes-content-1-1 img{
    height:50px;
    width:70px;
    margin:10px 20px;
}
.notes-content-1-1 h2{
    padding:10px 40px;
    font-size:18px;
    margin:0;
    color:#ff4c4c;
}
.content-container a{
    text-decoration: none;
}
/* notes style end here */

/* notes view style start here */
.notes-view{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top:20px;
}
#notes-embed{
    width:800px;
    height:600px;
}
.notes-content-2{
    width:800px;
    margin-top:15px;
    border:1px solid #dcdcdc;
    border-bottom:0px;
    margin-top:20px;
    margin-bottom: 100px;
    border-radius: 3px;
}
.notes-content-2 a{
    text-decoration: none;
}
#notes-embed{
    width:800px;
    height:600px;
}
.notes-content-2-header{
    background-color: #f6f6f6;
    margin:0px;
}
.notes-content-2-header h2{
    padding:15px 10px 15px 10px;
    border-radius: 2px;
    margin:0px;
}
.notes-content-2-inner{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom:1px solid #dcdcdc;
}
.notes-content-2-inner:hover{
    background-color: #f6f6f6;
}
.notes-content-2-inner img{
    height:20px;
    width:20px;
    margin:10px;
}
.notes-content-2-inner p{
    font-size:15px;
}
#notes-content-2-inner-button{
    border:0px;
    background-color: #333;
    padding:5px 10px 5px 10px;
    border-radius: 2px;
    margin:10px 0 10px 30px;
    color:yellow;
}
.fa{
    margin-left:30px;
    color:#404040;
    font-size:15px;
}
/* notes view style end here */

/* Profile style start here*/
.profile{
    display: flex;
    justify-content: center;
    width:70vw;
    margin-top:100px;
    margin-bottom:100px;
}
.profile-container{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    width:380px;
}
.profile-content{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin:20px;
    border-radius: 2px;
    margin-top:-80px;
    border-radius: 2px;
    background-color:#fff;
    color:#FF4C4C;
}
.profile-content-top{
    display: flex;
    justify-content: center;
    align-items: center;
    height:150px;
    width:340px;
    background-color: #f6f6f6;
}
.profile-picture{
    height:120px;
    width:120px;
    position: relative;
    border-radius: 50%;
    margin-top:-120px;
    border:2px solid #FF4C4C;
}
.profile-picture img{
    height:116px;
    width:116px;
    padding:5px;
    border-radius: 50%;
}
.profile-user-name{
    margin-top:80px;
}


.profile-textbox{
    display: flex;
    flex-direction: column;
    margin:10px;
    border-bottom: 1px solid #ff4c4c;
    margin-bottom:20px;
}
.profile-textbox p{
    font-size:14px;
    margin:0px;
}
#profile-textbox{
    height:30px;
    width:100%;
    border:none;
    outline: none;
    font-size:16px;
}
.profile-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
#profile-save-button{
    border:0px;
    color:#fff;
    background-color: #ff4c4c;
    padding:15px 60px;
    margin:20px 20px;
    font-size:16px;
    border-radius: 2px;
    cursor: pointer;
}

/* profile style end here*/

/* video js start here */
.video-js {
    width: 100% !important;
    height: 100% !important; /* Adjust the height to your preference */
  }
.video-js.vjs-default-skin {
    background-color: rgba(0, 0, 0, 0.4); /* Set your desired background color here */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
}
/*video js end here*/

/* home style start here*/
#promotional-video{
    margin-left:20px;
}

.home-content{
    display: flex;
    margin-top:40px;
}
#home-course-enroll-button{
    padding:10px 20px 10px 20px;
    width:260px;
    margin:40px 20px;
    border:0px;
    color:#fff;
    background-color: #ff4c4c;
    border-radius: 2px;
    font-size:16px;
    cursor: pointer;
}
#home-test-enroll-button{
    padding:10px 20px 10px 20px;
    width:260px;
    margin:40px 20px;
    border:0px;
    color:#fff;
    background-color: #0fbc57;
    border-radius: 2px;
    font-size:16px;
}

/* home style end here */

/* page loader style start here*/
.loading-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
}

.loading-overlay img {
    width: 100px; /* Adjust the width and height as per your icon's dimensions */
    height: 100px;
    animation: spin 1s linear infinite; /* Add the animation property to rotate the icon */
    border-radius: 15px;
}

/* Define the CSS animation */
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
/*page loader style end here*/

/* div not show in pc*/
.mob-header{
    display:none;
}


/* plyr css */
/* Set the width and height of the video player container */
.container {
    max-width: 680px; /* Adjust as needed */
    max-height: 450px; /* Adjust as needed */
    margin: auto; /* Center the container */
}

/* Set the width and height of the video player */
#myVideo {
    max-width: 680px; /* Adjust as needed */
    max-height: 450px; /* Adjust as needed */
}

#videoPlayer{
    width: 100%; /* Make the video fill the container width */
    height: 100%; /* Make the video fill the container height */
}

/* Mobile styles*/
@media (max-width: 768px) {
    .content{
        flex-direction: column;
        min-height:100vh;
    }
    .content-container{
        margin:0px;
        overflow-x: hidden;
    }
    .content-menu{
        display: none;
    }
    .profile-pic{
        margin-top:0px;
    }
    .page-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width:100vw;
    }
    .course{
        justify-content: center;
    }
    /*home start*/
    #home-course-enroll-button{
        width:82vw;
    }
    /*home end here*/
    .mob-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    }
    
    #mob-menu-button{
        font-size:30px;
        cursor:pointer;
        padding:10px;
        color:#ff4c4c;
    }
    .mob-header-logo img{
        height:45px;
        width:180px;
        margin:10px 20px 10px 10px;
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #fff;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        border-radius:0 5px 5px 0;
      }
      
      .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #404040;
        display: block;
        transition: 0.3s;
      }
      
      .sidenav a:hover {
        color: #f1f1f1;
      }
      
      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
      #menu-link{
        font-size:15px;
      }
      #menu-icon{
        height:25px;
        width:25px;
      }
      .menu-bar{
        margin:12px 30px 12px 20px;
    }
    /* question solution style start */
    .solution-content-1{
        width:96vw;
        margin-left:2vw;
    }
    .solution-question img{
        max-height:70vh;
        max-width:90vw;
        margin:10px;
    }
    .question_text{
        width:96vw;
        overflow: auto;
    }
    .solution-content-answer-mcq{
        width:94%;
    }
    .solution-content-answer-mcq img{
        max-width:88%;
    }
    .solution-content-answer-solution{
        max-width: 90vw;
    }
    .solution-image img{
        max-width:78vw;
    }
    .solution-bottom-analysis{
        justify-content: flex-start;
    }
    .solution-bottom-analysis-1{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width:150px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        margin:10px;
        align-items: center;
    }
    .solution-bottom-analysis-1 p{
        font-size:13px;
    }
    /* question solution style end */


    /* test details style start */
    .test-details{
        justify-content: center;
        align-items: center;
    }
    .test-details-content{
        height:auto;
        width:86vw;
    }
    .test-details-content-2{
        padding:10px 10px;
    }
    /* test details style end */

    /* question analysis style start */
    .test-question-anlysis-content{
        margin:15px;
        justify-content: center;
    }
    .test-question-anlysis-content-2 img{
        height:20px;
        width:20px;
    }
    #question-table{
        max-width:96%;
    }
    #question-table th,tr{
        padding:15px 4px;
    }
    .test-question-anlysis-content-2 table {
        border-collapse: collapse;
        border-radius: 5px;
    }
      
    .test-question-anlysis-content-2 th, td {
        padding:10px 6px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        font-size:10px;
    }
    #question-analysis-answered-solution-button{
        border:none;
        padding:6px 5px;
        border-radius:15px;
        background-color: #0fbc57;
        color:#fff;
    }
    #question-analysis-notanswered-solution-button{
        border:none;
        padding:6px 5px;
        border-radius:15px;
        background-color: orangered;
        color:#fff;
    }
    #question-analysis-question-time-button{
        padding:6px 7px;
        font-size:10px;
        margin:10px 2px;
    }
    
    #question-analysis-question-answer-status-answered{
        border:none;
        padding:6px 5px;
        border-radius:15px;
        background-color: #0fbc57;
        color:#fff;
        font-size:10px;
    }
    #question-analysis-question-answer-status-not-answered{
        border:none;
        padding:6px 5px;
        border-radius:15px;
        background-color: orangered;
        color:#fff;
        font-size:10px;
    }
    #question-analysis-view-solution-button{
        border:none;
        padding:6px 15px;
        border-radius:15px;
        background-color: #ff4c4c;
        color:#fff;
        font-size:10px;
    }

    #question-analysis-button{
        background: #f70;
        border-radius: 2px;
        font-size:15px;
        color: #fff;
        border: none;
        padding: 10px 20px;
        text-align: center;
        margin:0px 20px;
        transition: all .3s ease-in-out;
        cursor: pointer;
    }
    #question-view-solution-button{
        background: #0fbc57;
        border-radius: 2px;
        font-size:16px;
        color: #fff;
        border: none;
        padding: 10px 15px;
        text-align: center;
        margin:0px 10px;
        transition: all .3s ease-in-out;
    }
    #videoPlayer{
        width:70vw;
        margin-left:0px;
    }
    /* question analysis style end*/

    /* course details style start*/
    .course{
        margin:0px;
        padding:0px;
        width:100%;
    }
    .course-content{
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
        border-radius: 2px;
        margin:10px 0px 30px 0px;
        height:auto;
        width:92%;

    }
    .course-content img{
        height:250px;
        width:100%;
        border-radius: 3px;
        padding:10px;
    }
    .course-content p{
        padding:5px 10px 5px 10px;
        margin:0px;
    }
    .course-content h2{
        padding:10px 0px 20px 10px;
        margin:0px;
        margin:0 10px 0 0;
    }
    .course-content h3{
        padding:5px 10px 5px 10px;
        margin:0px;
        color:#ff4c4c;
    }
    .course-detail-content{
        justify-content: center;
        margin-right:0px;
    }
    .course-detail-content-1{
        width:92vw;
    }
    .course-detail-content-1 img{
        height:300px;
        width:86vw;
        margin:10px;
        border-radius: 2px;
    }
    .course-detail-content-2{
        width:92vw;
        margin:5px;
    }
    .course-detail-content-2-inner{
        border:1px solid #dcdcdc;
        border-radius: 5px;
        border-bottom:0px;
        margin-right:10px;
    }
    .course-detail-content-1-inner{
        flex-direction: column;
    }
    .course-details-content-1-inner-left{
        width:100%;
        display: flex;
        flex-direction: column;
    }
    .course-details-content-1-inner-right{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-course-content{
        width:92vw;
    }
    /* Course details style end*/


    /* play video mobile style start here*/
    #play-video-header{
        display: none;
    }
    .video-content{
        display: flex;
        justify-content: center;
        margin:0px;
    }
    .video-name-mobile{
        display: flex;
        width:100%;
    }
    .video-name-mobile p{
        padding:10px;
        margin: 0;
        font-size:15px;
    }
    .video-wrapper {
        width: 96vw;
        height: 300px;
        border-radius:2px;
    }
    .video-content-2{
        max-height:50vh;
        width:96vw;
        margin-left:2vw;
        overflow: auto;
        margin-bottom:10px;
        /*border-bottom:1px solid #dcdcdc;*/
    }
    .video-content-2-header h2{
        font-size:15px;
    }
    #lock{
        padding-right: 10px;
        color:rgb(255, 0, 0);
    }
    #unlock{
        padding-right: 10px;
    }
    #video-content-2-inner-button{
        margin-right:10px;
    }
    /*play video mobile style end here*/

    /* test comparision report style start here */
    .test-report-content-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left:50px;
    }
    .test-report-content-2{
        flex-direction: column;
        width:90vw;
    }
    #piechart_3d{
        overflow: hidden;
        width: 90vw;
        height: 300px;
        display: block;
    }
    .test-question-report{
        margin:10px;
    }
    .test-question-report-inner{
        width:80vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
        margin-top:10px;
    }
    .test-report-content-3{
        display: flex;
        margin-top:20px;
        width:90vw;
    }
    
    #MyTable{
        max-width:96%;
    }
    #MyTable table {
        border-collapse: collapse;
        border-radius: 5px;
    }
      
    #MyTable  th, td {
        padding: 10px 2px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    #MyTable  th{
        padding: 5px 2px;
        font-size:11px;
    }
    #student-rank-button-1{
        border:none;
        height:25px;
        width:25px;
        border-radius: 50%;
        color: #fff;
        background-color:#e085dc;
    }
    #student-rank-button-2{
        border:none;
        height:25px;
        width:25px;
        border-radius: 50%;
        color: #fff;
        background-color:#e085dc;
    }
    /* test comparision report style end here */


    /* view notes mobile style start here*/
    .notes-content{
        display: flex;
        justify-content: center;
        margin:10px;
    }
    #notes-embed{
        width:88vw;
        margin:10px;
        height:350px;
    }
    .notes-content-2{
        width:88vw;
        margin:10px;
    }
    .notes-content-2-inner p{
        font-size:11px;
    }
    /*view notes mobile style end here*/

    /* notes mobile style start here*/
    .notes-content-1-1{
        width:90vw;
        margin:20px;
    }
    .notes-content-1-1 img{
        height:80px;
        width:80px;
    }
    /* notes mobile style end here*/

    /* notes list style start here*/

    .collapsible{
        width:100%;
    }
    /*notes list style end here*/

    /* profile style start here*/
    .profile{
        width:90vw;
        margin:10px;
        margin-top:140px;
    }
    .profile-content-top{
        height:150px;
        width:300px;
        display: flex;
        justify-content: center;
        background-color: #f6f6f6;
    }
    .profile-container{
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        width:330px;
        margin-left:15px;
    }
    /*profile  style end here*/

    /* play video video.js start here*/
    .video-js {
        width: 100% !important;
        height: 99% !important; /* Adjust the height to your preference */
      }
    /* play video video.js end here*/

    /*home style start here*/
    #promotional-video{
        max-width:100%;
        margin-left:0px;
    }

    /*new update*/
    #promotional-video-wrapper{
        width:94vw;
    }
    /* home style end here */

}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    /* Course details tablet style end here */
    .course-detail-content-1 img{
        height:300px;
        width:57vw;
        margin:10px;
        border-radius: 2px;
    }
    .course-detail-content-2{
        width:60vw;
    }
    .course-detail-content-2{
        width:60vw;
    }
    .course-detail-content-2-inner{
        border:1px solid #dcdcdc;
        border-radius: 5px;
        border-bottom:0px;
        margin-right:10px;
    }
    .about-course-content{
        margin-right:10px;
    }
    /* Course details tablet style end here */

    /*play video tablet style start here*/
    .video-wrapper {
        width: 58vw;
        height: 400px;
        border-radius:2px;
    }
    .video-content-2{
        width:58vw;
    }
    /* play video tablet style start here */

    /* question solution tablet style start here*/
    .solution-content-1{
        width:56vw;
        margin-left:2vw;
    }
    .solution-question img{
        max-height:70vh;
        max-width:54vw;
        margin:10px;
    }
    .solution-content-answer-mcq{
        width:94%;
    }
    .solution-content-answer-mcq img{
        max-width:88%;
    }
    .solution-content-answer-solution{
        max-width: 90vw;
    }
    .solution-image img{
        max-width:48vw;
    }
    /* question solution tablet style end here */


    /* test question analysis style start here*/
    #question-analysis-button{
        background: #f70;
        border-radius: 2px;
        font-size:15px;
        color: #fff;
        border: none;
        padding: 10px 10px;
        display: block;
        text-align: center;
        margin:0px 40px;
        transition: all .3s ease-in-out;
        position: relative;
        cursor: pointer;
    }
    #question-view-solution-button{
        background: #0fbc57;
        border-radius: 2px;
        font-size:16px;
        color: #fff;
        border: none;
        padding: 10px 10px;
        display: block;
        text-align: center;
        margin:0px 40px;
        transition: all .3s ease-in-out;
        position: relative;
    }
    .test-question-anlysis-content{
        margin:15px;
        justify-content: center;
    }
    .test-question-anlysis-content-2 img{
        height:20px;
        width:20px;
    }
    .test-question-anlysis-content-2 table {
        border-collapse: collapse;
        border-radius: 5px;
    }
      
    .test-question-anlysis-content-2 th, td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        font-size:10px;
    }
    #question-analysis-question-time-button{
        padding:6px 10px;
        font-size:10px;
    }
    /* test question analysis style end here*/

    /* test comparison report style start here */
    .test-report-content-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left:100px;
    }
    .test-report-content-2{
        flex-direction: column;
        width:90vw;
    }
    #piechart_3d{
        overflow: hidden;
        width: 60vw;
        height: 300px;
        display: block;
    }
    .test-question-report{
        margin:10px;
    }
    .test-question-report-inner{
        width:52vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
        margin-top:10px;
    }
    .test-report-content-3{
        display: flex;
        margin-top:20px;
        width:60vw;
    }
   
    #MyTable table {
        width:52vw;
        border-collapse: collapse;
        border-radius: 5px;
    }
      
    #MyTable  th, td {
        padding: 6px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    #MyTable  th{
        font-size:11px;
    }
    #student-rank-button-1{
        border:none;
        height:25px;
        width:25px;
        border-radius: 50%;
        color: #fff;
        background-color:#e085dc;
    }
    #student-rank-button-2{
        border:none;
        height:25px;
        width:25px;
        border-radius: 50%;
        color: #fff;
        background-color:#e085dc;
    }
    /* test comparison report style end here */

    /* view notes mobile style start here*/
    .notes-content{
        display: flex;
        justify-content: center;
        margin:10px;
    }
    #notes-embed{
        width:54vw;
        margin:10px;
        height:700px;
    }
    .notes-content-2{
        width:54vw;
        margin:10px;
    }
    .notes-content-2-inner p{
        font-size:11px;
    }
    /*view notes mobile style end here*/

    /* notes tablet style start here*/
    .notes-content-1-1{
        width:56vw;
    }
    .notes-content-1-1 img{
        height:80px;
        width:80px;
    }
    /* notes tablet style end here*/

    /* notes list style start here*/

    .collapsible{
        width:100%;
    }
    /*notes list style end here*/

    /*home style start here*/
    .promotional-video-content{
        height:300px;
        width:58vw;
        margin-left:0px;
    }
    /* home style end here */
}