body{
    margin:0px;
    padding:0px;
    font-family: sans-serif;
}
h2{
    padding:10px;
    font-weight: normal;
    font-size:18px;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:50px;
}
.invoice-content{
    min-width: 55vw;
    display: flex;
    flex-direction: column;
    border:2px solid #ff4c4c;
}
.invoice-content-logo img{
    height:80px;
    max-width:214px;
    margin:10px;
    border-radius: 2px;
}
.course-name h2{
    color:#fff;
    background-color: #ff4c4c;
    margin:0px;
}
.student-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom:1px solid #dcdcdc;
}
.student-info-left p{
    font-size:16px;
    padding:10px;
    margin:0px;
    text-align: center;
}
.student-info-left{
    margin:0 30px;
    border-right:1px solid #dcdcdc;
    padding-right:50px;
}
.student-info-right p{
    padding:10px;
    font-size:16px;
    margin:0px;
}
.student-info-left img{
    height:200px;
    width:180px;
    border-radius: 2px;
    border:1px solid #dcdcdc;
    margin-bottom:20px;
}
.student-info-right{
    margin-right:30px;
}
.amount-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.amount-info-left{
    margin-left:20px;
    border-right:1px solid #dcdcdc;
    padding-right:100px;
}
.amount-info-right{
    margin-right:20px;
    padding-right:80px;
}
.amount-info-right p {
    text-align: left;
}
#back-button{
    padding:10px 30px;
    border:0px;
    color:#fff;
    background-color: #ff4c4c;
    border-radius: 2px;
    margin:10px;
}

/* Mobile styles*/
@media (max-width: 768px) {
    .invoice-content{
        width:96%;
        overflow: hidden;
    }
    .invoice-content-logo{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .student-info-left{
        display: none;
    }
    .amount-info{
        flex-direction: column;
    }
    .amount-info-left{
        padding:5px;
        margin:0px;
        width:90%;
        margin-left:20px;
        margin-right:20px;
        border:none;
        border-bottom: 1px solid #dcdcdc;
    }
    .amount-info-right{
        padding:5px;
        margin:0px;
        width:90%;
        margin-left:20px;
        margin-right:20px;
    }
}