body{
    margin:0;
    position: fixed;
}
.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f1f1f1;
  }
  
  .loading-spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #333;
    border-radius: 50%;
    border-top-color: transparent;
    animation: spin 1s linear infinite;
  }
  
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
.content{
    display: flex;
    height:100vh;
    overflow: hidden;
    font-family: 'Raleway',sans-serif;
    border-bottom: 1px groove #dcdcdc;
}

.content-left{
    height:100vh;
    width:80%;
    border-right:1px groove #dcdcdc;
    overflow: hidden;
}
.pc-content{
    max-height:30vh;
    flex:1;
}
.content-right{
    height:100vh;
    width:19.9%;
    overflow: hidden;
}
.logo{
    display: flex;
    align-items: center;
    border-bottom:1px solid black;
    background-color: #404040;
}
.logo img{
    max-height:55px;
    max-width:214px;
    padding-left:5px;
    border-radius: 2px;
}
.logo p{
    background-color:#404040;
    color:rgb(236, 236, 102);
    margin:0px;
    margin-left:30px;
    font-size:14px;
}
.paper-name{
    background-color: #4d4d4d;
}
.paper-name h3{
    font-size:12px;
    border-radius: 2px;
    margin:0px;
    padding:5px;
}

.calculator{
    background-color: #f1f0f0;
    display: flex;
}
.calculator-left{
    width:90%;
    border-right:2px groove #dcdcdc;
}
#paper-name-button{
    border:0px;
    background-color: #1E90FF;
    padding:5px;
    margin:5px;
    color:#fff;
    border-radius: 2px;
}
.calculator-right{
    width:9%;
    display: flex;
    justify-content: center;
}
#fa{
    font-size:25px;
    padding:5px;
    margin-left:5px;
    color:orange;
}
.section{
    display:flex;
    border-bottom: 1px groove #dcdcdc;
}
/*
.section-left{
    width:50%;
}
.section-left h3{
    text-align: left;
    font-size:14px;
    padding:5px;
    margin:0px;
    color:black;
}

.section-right{
    width:50%;
}
.section-right h3{
    text-align: right;
    font-size:14px;
    padding:5px;
    margin:0px;
    color:black;
}
*/
.paper-section{
    display:flex;
    border-bottom:2px groove #dcdcdc;
}
.paper-section-left{
    width:70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
#paper-section-left-active{
    font-size:13px;
    color:#fff;
    padding:8px 10px 8px 5px;
    background-color: #f56666;
    margin:5px 10px 5px 5px;
    border-radius: 2px;
    border:none;
    cursor: pointer;
}
#paper-section-left-inactive{
    font-size:13px;
    color:#000;
    padding:8px 10px 8px 5px;
    margin:5px 10px 5px 5px;
    border:none;
    border-radius: 2px;
    border:1px solid #dcdcdc;
    background-color: #fff;
    cursor: pointer;
}
.paper-section-right{
    width:30%;
    display:flex;
    justify-content: flex-end;
}
#countdown{
    margin:0px;
    padding:8px;
    font-size:14px;
    font-weight: bold;
    color: #000;
}
.question-type{
    display: flex;
    border-bottom:1px groove #dcdcdc;
}
.question-type-left{
    width:20%;
}

#question-type-name{
    margin:0px;
    padding:8px 5px 5px 5px;
    font-size:15px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}
.question-type-right{
    width:80%;
    display: flex;
    justify-content: flex-end;
}
#positive-marks{
    font-size:14px;
    color:#000;
    text-align: right;
    padding:8px;
    margin:0px;
}
#questionno{
    font-size:15px;
    padding:10px 10px 10px 5px;
    margin:0px;
    border-bottom:1px groove #dcdcdc;
    color:#000;
    font-weight: normal;
}
.question{
    display: flex;
    margin:0px;
    border-bottom: 1px groove #dcdcdc;
}

#form_data {
    appearance: auto;
    -webkit-appearance: auto;
    -moz-appearance: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 16px;
    height: 16px;
    margin: 0;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    background-color: #007bff; /* Default blue color */
    border: 1px solid #007bff;
}

/* Style for the checked state */
#form_data:checked {
    background-color: #007bff; /* Default blue color */
    border: 1px solid #007bff;
}


.pc-question-content{
    height:55vh;
    flex:1;
    flex-direction: column;
    overflow:auto;
    margin-top:5px;
}
.question-view{
    max-height:1000px;
    max-width:1200px;
    margin:10px 20px 5px 10px;
}

.question-view p,h1,h2,h3,h4,h5,h6{
    line-height: 1.4;
    font-size:17px;
    margin:0px;
    padding:0px;
    color:#000;
    font-weight:100;
    /*font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    font-family: var(--font-secondary);
}

.question-view img{
    max-height:1000px;
    max-width:2000px;
}
.question-bottom-button{
    height:9vh;
    margin:10px;
    border:1px groove #dcdcdc;
    display: flex;
    align-items: center;
}
.question-bottom-button-left{
    width:70%;
    display: flex;
    justify-content: flex-start;
}
.question-bottom-button-right{
    width:30%;
    justify-content: flex-end;
    display: flex;
}
#mark-for-review{
    height:38px;
    margin:10px;
    border:1px groove #dcdcdc;
    background-color: #fff;
    padding:10px;
    border-radius: 2px;
    cursor: pointer;
}
#mark-for-review:hover{
    border:none;
    background-color: #6e3d9e;
    color:#fff;
}
#clear-response{
    height:38px;
    margin:10px;
    padding:10px;
    border:1px groove #dcdcdc;
    background-color: #fff;
    border-radius: 2px;
    cursor: pointer;
}
#previous-button{
    height:38px;
    margin:10px;
    padding:10px;
    border:1px groove #dcdcdc;
    background-color: #fff;
    border-radius: 2px;
    cursor: pointer;
}

#previous-button:hover{
    background-color:#1E90FF;
    border:none;
    color:#fff;
}

#save-next{
    height:38px;
    margin:10px;
    padding:10px 25px 10px 25px;
    background-color: #1E90FF;
    color:#fff;
    border:0px;
    border-radius: 2px;
    cursor: pointer;
}
.profile{
    display: flex;
    justify-content: flex-start;
    height:20vh;
}
.student-pic-ins{
    height:80px;
    width:80px;
    margin:20px;
    border:2px groove #dcdcdc;
}
.student-pic-ins img{
    height:79px;
    width: 79px;
}

.student-pic{
    height:80px;
    width:80px;
    margin:20px;
    border:2px groove #dcdcdc;
}
.student-pic img{
    height:75px;
    width: 75px;
}
.student-name{
    max-width:170px;
    margin-top:20px;
}
.student-name p{
    margin:0px;
    padding:0px;
    font-size:13.5px;
    color:black;
    font-weight: normal;
}
.question-content{
    display: flex;
    border:2px solid #dcdcdc;
    flex-direction: column;
    height:71vh;
}
.question-content-instruction{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.question-status-instruction{
    display: flex;
    margin:5px;
}

#instruction-answered-button{
    height:30px;
    width:30px;
    padding:0px auto;
    background-color: #76dd31;
    border: none;
    color: #000;
    font-size: 14px;
    color:#fff;
    cursor: pointer;
    clip-path: polygon(0 15px, 10px 0, calc(100% - 10px) 0, 100% 15px, 100% 100%, 0 100%);
    border-radius: 5px;
    border:2px solid #b4ec8e;
}
#instruction-answered-button-1{
    height:40px;
    width:40px;
    text-align: center;
    padding: 0px auto;
    background-color: #76dd31;
    border: none;
    color: #000;
    font-size: 16px;
    color:#fff;
    margin:10px 10px 0px 10px;
    cursor: pointer;
    clip-path: polygon(0 15px, 10px 0, calc(100% - 10px) 0, 100% 15px, 100% 100%, 0 100%);
    border-radius: 5px;
    border:2px solid #b4ec8e;
}
.instruction-answered-button-1{
    height:40px;
    width:40px;
    padding: 0px auto;
    background-color: #4cdf2f;
    border: none;
    color: #000;
    font-size: 16px;
    color:#fff;
    margin:10px 8px 0px 8px;
    cursor: pointer;
    /*clip-path: polygon(0 12px, 10px 0, calc(100% - 10px) 0, 100% 12px, 100% 100%, 0 100%); this is old*/
    clip-path: polygon(0 15px, 10px 0, calc(100% - 10px) 0, 100% 15px, 100% 100%, 0 100%);
    border-radius: 5px;
    border:2px solid #b4ec8e;
}
.question-status-instruction p{
    font-size:11px;
    padding:10px 2px 5px 2px;
    color:black;
    margin:0;
}
#instruction-not-answered-button{
    height:30px;
    width:30px;
    margin:2px;
    background-color: #ff3333;
    color: #FFFFFF;
    border:1px solid #dcdcdc;
    font-size: 13px;
    text-align: center;
    cursor: pointer;clip-path: polygon(0 0, 100% 0, 100% 60%, 70% 100%, 30% 100%, 0 60%);
    border-radius: 5px;
    border:2px solid #f56666;
}
#instruction-not-answered-button-1{
    height:40px;
    width:40px;
    margin:2px;
    background-color: #ff3333;
    color: #FFFFFF;
    border:1px solid #dcdcdc;
    font-size: 16px;
    margin:10px 10px 0px 10px;
    text-align: center;
    cursor: pointer;clip-path: polygon(0 0, 100% 0, 100% 60%, 70% 100%, 30% 100%, 0 60%);
    border-radius: 5px;
    border:2px solid #f56666;
}
.instruction-not-answered-button-1{
    height:40px;
    width:40px;
    margin:2px;
    background-color: #ff3333;
    color: #FFFFFF;
    border:1px solid #dcdcdc;
    font-size: 16px;
    margin:10px 8px 0px 8px;
    text-align: center;
    cursor: pointer;clip-path: polygon(0 0, 100% 0, 100% 60%, 70% 100%, 30% 100%, 0 60%);
    border-radius: 5px;
    border:2px solid #f56666;
    display: block;
    padding: 0 auto;
}
#instruction-not-visit-button{
    height:30px;
    width:30px;
    
}
#instruction-marked-for-review-button{
    height:40px;
    width:40px;
    margin:2px;
    background-color: #6e3d9e;
    color: #FFFFFF;
    border: 1px solid #dcdcdc;
    font-size: 12px;
    text-align: center;
    clip-path: circle(40%);
}
#instruction-marked-for-review-button-1{
    height:45px;
    width:45px;
    margin:2px;
    background-color: #6e3d9e;
    color: #FFFFFF;
    border: 1px solid #dcdcdc;
    font-size: 12px;
    text-align: center;
    clip-path: circle(40%);
}

#instruction-marked-for-review-button-2{
    height:50px;
    width:50px;
    margin:2px;
    background-color: #6e3d9e;
    color: #FFFFFF;
    border: 1px solid #dcdcdc;
    font-size: 16px;
    text-align: center;
    margin:5px 3px 0px 3px;
    clip-path: circle(40%);
}
.instruction-marked-for-review-button-2{
    height:50px;
    width:50px;
    margin:2px;
    background-color: #6e3d9e;
    color: #FFFFFF;
    border: 1px solid #dcdcdc;
    font-size: 16px;
    text-align: center;
    margin:5px 3px 0px 3px;
    clip-path: circle(40%);
    cursor: pointer;
}
.subject-name{
    display: flex;
    background-color: #1E90FF;
}
.subject-name p{
    font-size:13px;
    color:#fff;
    padding:10px;
    margin:0px;
}
.question-plate{
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding:15px 5px;
}
.question-plate-bottom{
    margin:40px;
}
.question-plate p{
    width:100%;
    padding:5px;
    margin:0px;
    font-size:13px;
    color:black;
}

.mark_for_review_and_answered_button {
    height:37px;
    width:50px;
    position: relative;
    padding:px;
    background-color: #6e3d9e;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    margin:0px;
    border-radius: 50%;
  }
  
.mark_for_review_and_answered_button::after {
    content: "";
    position: absolute;
    bottom: -5px; /* Adjust this value to position the image vertically */
    right: -3px; /* Adjust this value to position the image horizontally */
    width: 20px; /* Adjust the image width as needed */
    height: 20px; /* Adjust the image height as needed */
    /*background-image: url('../../../../../media/images/mark.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    border-radius: 50%; /* Makes it a circle, adjust as needed */
}


.mark-for-review-and-answered-container {
    position: relative;
    display: inline-block;
}

.mark-for-review-and-answered-button {
    position: relative;
    background-color: #6e3d9e;
    color: white;
    border: none;
    border-radius: 50%;
    font-size:16px;
    width: 40px; /* Set the width to match the image */
    height: 40px; /* Set the height to match the image */
    margin:10px 8px 0 8px;
    cursor: pointer;
}

.mark-for-review-and-answered-img {
    position: absolute;
    bottom: -4px; /* Adjust this value to position the image vertically */
    right: 4px; /* Adjust this value to position the image horizontally */
    width: 22px; /* Adjust the image width as needed */
    height: 22px; /* Adjust the image height as needed */
    border-radius: 50%; /* Makes it a circle, adjust as needed */
    font-size:16px;
    /*background-image: url('../../../../../media/images/mark.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
}

.question-nos{
    height:38px;
    width:40px;
    padding:5px;
    padding-left:0px;
    display: block;
    margin:10px 8px 0px 8px;
    font-size:16px;
    cursor: pointer;
}

#question-no{
    height:38px;
    width:40px;
    padding:5px;
    margin:10px 8px 0px 8px;
    font-size:16px;
}

/* Width and Height of the scrollbar track */
.question-plate::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Background color of the scrollbar track */
  .question-plate::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  /* Color of the scrollbar thumb */
  .question-plate::-webkit-scrollbar-thumb {
    background-color: #c2c0c0;
    border-radius: 5px;
  }
  
  /* Color on hover for the scrollbar thumb */
  .question-plate::-webkit-scrollbar-thumb:hover {
    background-color: #9b9999;
  }
  
  /* Style for the scrollbar corner */
  .question-plate::-webkit-scrollbar-corner {
    background-color: #f1f1f1;
  }
  .final-submit{
    height:9vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#final-submit-button{
    height:35px;
    padding:10px 30px 10px 30px;
    color:#fff;
    border:0px;
    background-color: #ff4c4c;
    border-radius: 2px;
    margin:12px;
    cursor: pointer;
}

.numeric-plate{
    display: flex;
    justify-content: center;
}
.numeric-plate-content{
    margin-bottom:30px;
}
.nat-answer{
    height:20px;
    width:180px;
    outline: none;
}
#nat-answer{
    outline: none;
}
.nat-plate-options{
    display: flex;
    width:180px;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #f8f7f7;
}
#back-space{
    height:30px;
    width:100px;
    margin:5px 40px 5px 40px;
    border-radius: 5px;
    font-weight: bold;
}
#tab_back-space{
    height:30px;
    width:100px;
    margin:5px 40px 5px 40px;
    border-radius: 5px;
    font-weight: bold;
}
#nat-numbers{
    height:30px;
    width:40px;
    margin:5px 5px 0px 5px;
    font-weight: bold;
}

#tab_nat-numbers{
    height:30px;
    width:40px;
    margin:5px 5px 0px 5px;
    font-weight: bold;
}

#nat-arrow-1{
    height:30px;
    width:40px;
    margin:5px 10px 5px 10px;
    font-weight: bold;
}

#tab_nat-arrow-1{
    height:30px;
    width:40px;
    margin:5px 10px 5px 10px;
    font-weight: bold;
}

#nat-arrow-2{
    height:30px;
    width:40px;
    margin:5px 10px 5px 5px;
    font-weight: bold;
}
#tab_nat-arrow-2{
    height:30px;
    width:40px;
    margin:5px 10px 5px 5px;
    font-weight: bold;
}
.question-mcq-msq{
    display:flex;
    max-height:auto;
    max-width: 1200px;
    margin:10px 20px 5px 10px;
}
.question-mcq-msq-left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.question-mcq-msq-right{
    margin:0px 0px 0px 20px;
    background-color: #fff;
}
.question-mcq-msq-right p,h1,h2,h3,h4,h5,h6{
    color:#000;
    margin:0px;
    padding:5px;
    line-height: 1.4;
    font-size:17px;
    font-family: var(--font-secondary);
}
.question-mcq-msq img{
    max-height: 500px;
    max-width: 2000px;
}

.tab-content{
    display: none;
}


/* Test Instruction styles start */
.container{
    display: flex;
    height:100vh;
    overflow: hidden;
    font-family: 'Raleway',sans-serif;
    border-bottom: 1px groove #dcdcdc;
    color:#fff;
}
.instruction-content{
    display: flex;
    width:100vw;
}
.instruction-content-left{
    width:76.5vw;
    border-right:1px solid #dcdcdc;
}
.inst-header{
    height:15vh;
}
.inst-top-1 p{
    padding:10px;
    background-color: #ff4c4c;
    color:#fff;
    margin:0;
    font-size:17px;
}
.inst-content{
    height:63vh;
    max-width: 100vw;
    overflow: auto;
    font-weight: normal;
    font-size:14px;
    color:black;
    padding:20px 30px;
    border-bottom: 1px solid #dcdcdc;
}
.inst-content-1{
    height:70vh;
    max-width: 100vw;
    overflow: hidden;
    border-bottom: 1px solid #dcdcdc;
}
.inst-content-1-top{
    height:55vh;
    border-bottom:1px solid #dcdcdc;
    overflow: auto;
    font-weight: normal;
    font-size:14px;
    color:black;
    padding:20px 30px;
}
.inst-content-1-bottom{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 8vh;
}
.accept-read-inst{
    margin:10px 0px 10px 20px;
    font-weight: bold;
    font-size:15px;
}
.instruction-content-right{
    width:23%;
}
.inst-bottom{
    display: flex;
    height:10vh;
    border:1px solid #dcdcdc;
    margin:10px;
}
#inst-next-button{
    height: 38px;
    margin: 10px;
    padding: 10px 35px 10px 35px;
    border: 1px groove #dcdcdc;
    background-color: #fff;
    border-radius: 2px;
    font-size:16px;
    cursor: pointer;
}
#inst-next-button:hover{
    border:0px;
    background-color: #ff4c4c;
    color:#fff;
}
#inst-previous-button{
    height: 38px;
    margin: 10px;
    padding: 10px 35px 10px 35px;
    border: 1px groove #dcdcdc;
    background-color: #fff;
    border-radius: 2px;
    font-size:16px;
}
#inst-begin-button{
    height: 38px;
    margin: 10px;
    padding: 10px 35px 10px 35px;
    border: 0px;
    background-color: #ff4c4c;
    border-radius: 2px;
    font-size:15px;
    color:#fff;
    cursor: pointer;
}
.inst-bottom-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width:50vw;
    margin:5px;
}
.inst-bottom-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width:50vw;
    margin:5px;
}
/* Test Instruction styles end */


/* page loader style start here*/
.loading-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
}

.loading-overlay img {
    width: 100px; /* Adjust the width and height as per your icon's dimensions */
    height: 100px;
    animation: spin 1s linear infinite; /* Add the animation property to rotate the icon */
    border-radius: 15px;
}

/* Define the CSS animation */
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
/*page loader style end here*/


/* Styles for screens up to 767px (mobile) */
@media (max-width: 767px) {
    /* CSS styles specific to mobile devices */
    .body{
        overflow: auto;
    }
    .content{
        display: none;
    }
    .tab-content{
        display: flex;
        flex-direction: column;
        height:100vh; /*updated*/
        width:100vw;
        background-color: #fff;
        overflow:auto;
    }
    .top{
        height:23vh;
        width:100vw;
        display: flex;
        flex-direction: column;
        /*overflow: hidden;*/
    }
    .top-1{
        height:7vh;
        width:100%;
        display: flex;
        white-space: nowrap;
        /*overflow: hidden;*/
        text-overflow: ellipsis;
    }
    
    #zoom-button{
        background-color: #fff;
        color:black;
        border:0px;
        border: 2px;
      	margin-top:3px;
    }
    .top-1 h3{
        margin:0px;
        padding:10px 5px 10px 10px;
        border-right:1px solid #dcdcdc;
        font-size:16px;
    }

    #tab_paper-section-left-active{
        font-size:14px;
        color:#fff;
        padding:8px 10px 8px 5px;
        background-color: #f56666;
        margin:5px 10px 5px 0px;
        border-radius: 2px;
        border:none;
        
    }
    #tab_paper-section-left-1{
        font-size:14px;
        color:black;
        padding:8px 10px 8px 5px;
        margin:5px 10px 5px 0px;
        border:none;
        border-radius: 2px;
        background-color: #fff;
        border:1px solid #dcdcdc;
    }
    #tab_paper-section-left-2{
        font-size:14px;
        color:black;
        padding:8px 10px 8px 5px;
        margin:5px 10px 5px 0px;
        border:none;
        border-radius: 2px;
        background-color: #fff;
        border:1px solid #dcdcdc;
    }
    .top-2{
        height:7vh;
        display: flex;
        background-color: #19c5ff;
        align-items: center;
        padding:5px 0px;
    }
    .top-2-left{
        width:30%;
    }
    #back-button{
        height:30px;
        width:80px;
        margin:3px;
        border-radius: 15px;
        background-color: #FF6347;
        color:#fff;
        border:0px;
    }
    .top-2-right{
        width:70%;
        display: flex;
        justify-content: flex-end;
    }
    .top-2-right p{
        color:#fff;
        font-size:15px;
        margin:0px;
        padding:8px;
        font-weight: bold;
    }
    .top-2-right span{
        color:#fff;
        background-color: #333;
        border:0px;
        border-radius: 15px;
        padding:5px 10px 5px 10px;
    }
    .top-3{
        height:9vh;
        display: flex;
        flex-wrap: nowrap; /* Prevent items from wrapping to the next line */
        overflow-x: auto; /* Enable horizontal scrolling if content overflows */
        width: 100%; /* Set a width for the container */
    }
    .tab_question_plate {
        display: flex;
        overflow-x: auto; /* Enable horizontal scrolling if content overflows */
        overflow-y: hidden; /* Hide vertical overflow */
        white-space: nowrap; /* Prevent content from wrapping to next line */
        width: 100vw; /* Set a width for the container */
        padding:2px 0px 10px 0;
      }
    .tab-question-no{
        height:35px;
        width:50px;
        font-size:16px;
        margin:15px 10px 15px 10px;
        padding:2px 12px 2px 12px;
    }
    .tab-question-no-visited-not-answered{
        height:35px;
        width:50px;
        font-size:16px;
        margin:15px 10px 15px 10px;
        padding:2px 12px 2px 12px;
        border:0px;
        color:#fff;
        background-color:#FF6347;
        cursor: pointer;clip-path: polygon(0 0, 100% 0, 100% 60%, 70% 100%, 30% 100%, 0 60%);
        
    }
    .tab-question-no-visited-and-answered{
        height:35px;
        width:50px;
        font-size:16px;
        margin:15px 10px 15px 10px;
        padding:2px 12px 2px 12px;
        border:0px;
        color:#fff;
        border:0px;
        color:#fff;
        background-color:#76dd31;
        clip-path: polygon(0 12px, 10px 0, calc(100% - 10px) 0, 100% 12px, 100% 100%, 0 100%);
    }
    .tab-question-no-mark-for-review{
        height:40px;
        width:50px;
        font-size:16px;
        margin:15px 10px 15px 10px;
        padding:2px 12px 2px 12px;
        color:#fff;
        background-color:#6e3d9e;
        clip-path: circle(40%);
    }

    /*new design start here */
    .tab_instruction-not-answered-button-1{
        height:40px;
        width:40px;
        margin:2px;
        background-color: #ff3333;
        color: #FFFFFF;
        border:1px solid #dcdcdc;
        font-size: 16px;
        margin:2px 10px 0px 10px;
        text-align: center;
        cursor: pointer;clip-path: polygon(0 0, 100% 0, 100% 60%, 70% 100%, 30% 100%, 0 60%);
        border-radius: 5px;
        border:2px solid #f56666;
    }
    .tab_instruction-answered-button-1{
        height:40px;
        width:40px;
        padding: 0px auto;
        background-color: #4cdf2f;
        border: none;
        color: #000;
        font-size: 16px;
        color:#fff;
        margin:2px 10px 0px 10px;
        cursor: pointer;
        /*clip-path: polygon(0 12px, 10px 0, calc(100% - 10px) 0, 100% 12px, 100% 100%, 0 100%); this is old*/
        clip-path: polygon(0 15px, 10px 0, calc(100% - 10px) 0, 100% 15px, 100% 100%, 0 100%);
        border-radius: 5px;
        border:2px solid #b4ec8e;
    }
    .tab_instruction-marked-for-review-button-2{
        height:50px;
        width:50px;
        margin:2px;
        background-color: #6e3d9e;
        color: #FFFFFF;
        border: 1px solid #dcdcdc;
        font-size: 16px;
        text-align: center;
        margin:2px 5px 0px 5px;
        clip-path: circle(40%);
    }
    .tab_mark-for-review-and-answered-container {
        position: relative;
        display: inline-block;
        margin:0px;
        padding:5px 0px;
    }
    
    .tab_mark-for-review-and-answered-button {
        position: relative;
        background-color: #6e3d9e;
        color: white;
        border: none;
        border-radius: 50%;
        font-size:16px;
        width: 40px; /* Set the width to match the image */
        height: 40px; /* Set the height to match the image */
        margin:2px 10px 0 10px;
    }
    
    .tab_mark-for-review-and-answered-img {
        position: absolute;
        bottom: -4px; /* Adjust this value to position the image vertically */
        right: 4px; /* Adjust this value to position the image horizontally */
        width: 22px; /* Adjust the image width as needed */
        height: 22px; /* Adjust the image height as needed */
        border-radius: 50%; /* Makes it a circle, adjust as needed */
        font-size:16px;
        /*background-image: url('../../../../../media/images/mark.png'); /* Replace with your image path */
        background-size: cover;
        background-position: center;
    }
    
    .tab_question-nos{
        height:38px;
        width:40px;
        padding:5px;
        margin:2px 10px 0px 10px;
        font-size:16px;
    }

    .tab_question_no{
        border-bottom: 1px solid #dcdcdc;
    }
    .tab_question_no p{
        margin:0px;
        padding:8px;
        font-size:15px;
        font-weight: normal;
    }

    .top-4{
        border-bottom: 1px solid #dcdcdc;
    }
    .top-4 p{
        margin:0px;
        padding:8px;
        font-size:13px;
        font-weight: bold;
    }

    .tab-question{
        height:61vh;
        width:98.5vw;
        display: flex;
        flex-direction: column;
        border:1px solid #dcdcdc;
        margin:2px;
        overflow: auto;
    }
    .tab-que-view{
        overflow: auto;
        flex: 1;
    }
    .tab-question-view{
        max-height:auto;
        max-width:100%;
        margin:10px;
    }
    .tab-question-view img{
        max-height: 500px;
        max-width: 100%;
    }
    .tab-option-view{
        display: flex;
        max-height:400px;
        max-width:100%;
        margin: 10px;
    }
    .tab-option-view img{
        max-height: 400px;
        max-width: 100%;
    }
    .tab-option-view-left{
        display: flex;
        justify-content: center;
        align-items: center;
        margin:10px;
    }
    .tab-option-view-right{
        margin:5px;
    }
    .tab-option-view{
        max-height: 400px;
        max-width: 600px;
    }
    .top-5{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height:7vh;
        background-color: #f1f1f1;
        border-top:1px solid black;
    }
    #tab-clear-response{
        height:40px;
        background-color: #ffff;
        font-size:14px;
        margin:5px;
        border-radius: 2px;
        border:1px solid #808080;
    }
    #tab-mark-for-review{
        height:40px;
        background-color: #ffff;
        font-size:14px;
        margin:6px;
        border-radius: 3px;
        border:1px solid #999;
    }

    .top-6{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height:8vh;
    }
    #tab-test-submit{
        height:85%;
        width:45%;
        background-color: #ff4c4c;
        color:#fff;
        font-size:15px;
        margin:6px;
        padding:10px 30px 10px 30px;
        border-radius: 3px;
        border:0px;
    }
    #tab-save-next{
        height:85%;
        width:45%;
        background-color: #a4d246;
        font-size:15px;
        margin:6px;
        padding:10px 30px 10px 30px;
        border-radius: 3px;
        border:0px;
        color:#fff;
    }

    /*test series instruction styles  start*/
    .container{
        overflow:auto;
    }
    .instruction-content-left{
        width:100vw;
    }
    .instruction-content-right{
        display: none;
    }
    .accept-read-inst{
        height:auto;
        font-size:13px;
    }
    .logo p{
        display: none;
        font-size:12px;
    }
    .inst-content{
        padding:10px;
    }
    #inst-next-button{
        padding:7px 30px;
        font-size:14px;
    }
    #inst-previous-button{
        padding:7px 30px;
        font-size:14px;
    }
    #inst-begin-button{
        padding:7px;
        font-size:13px;
    }

    /* test series instruction styles end */

  }
  

  
  /* Styles for screens 1024px and above (PC) */
  @media (min-width: 1024px) {
    /* CSS styles specific to PCs */
    body{
        overflow: hidden;
    }
}


@media screen and (max-height: 500px) and (max-width: 850px) {
    .body{
        overflow: auto;
    }
    .content{
      display: flex;
      height:130vh;
      overflow: auto;
    }
    .content-left{
        overflow: auto;
    }
    .content-right{
        overflow: auto;
    }
    .pc-content{
        height:43vh;
    }
    .question{
        display: flex;
    }
    .pc-question-content{
        height:50vh;
        flex:1;
        overflow: auto;
    }
    .question-view img{
        max-width:90%;
    }
    .question-mcq-msq-right img{
        max-width: 90%;
    }
    .pc-question-content{
        height:70vh;
    }
    .question-bottom-button{
        height:20vh;
    }
    .profile{
        height:30vh;
    }
    .question-content{
        height:120vh;
    }
    .final-submit{
        height:20vh;
    }
  }