{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Turing Code </title>
        <meta name="description" content="">
        <link rel="icon" type="image/png" href="{% static 'assets/img/icon.png' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <script src="{% static 'assets/js/script.js' %}"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script>
            document.addEventListener('keydown', function (e) {
              if (e.code === 'KeyU' && (e.ctrlKey || e.metaKey)) {
                e.preventDefault();
                //alert('View source is disabled.');
              }
            });
        
            document.addEventListener('contextmenu', function (e) {
              e.preventDefault();
              //alert('Right-click is disabled.');
            });
          </script>
    </head>
    <body>
        <div class="content">
            <div class="content-box">
                <div class="log-logo">
                    <img src="{% static 'assets/img/logo.png' %}">
                </div>
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <div class="log-textbox-top">
                        <h3>Email Address</h3>
                    </div>
                    <div class="log-textbox-bottom">
                        <div class="log-textbox-bottom-left"><i class="fa fa-envelope"></i></div>
                        <div class="log-textbox-bottom-right">
                            <input type="textbox" id="log-textbox" placeholder="Enter email address" name="Email" value="{{ email }}" autocomplete="off" required>
                        </div>
                    </div>

                    <div class="log-textbox-top">
                        <h3>Password</h3>
                    </div>
                    <div class="log-textbox-bottom">
                        <div class="log-textbox-bottom-left"><i class="fa fa-lock"></i></div>
                        <div class="log-textbox-bottom-right">
                            <input type="password" id="passwordInput" placeholder="Enter password" value="{{ password }}" name="Password" required>
                        </div>
                        <div class="password-show">
                            <div id="showPasswordButton" onclick="togglePasswordVisibility()">
                                <i id="passwordIcon" class="fas fa-eye-slash"></i>
                            </div>
                        </div>
                    </div>
                    <div class="log-textbox-top">
                        <h4><a href="{% url 'forgot' %}"> Forgot Password </a></h4>
                    </div>
                    <div class="log-button">
                        <input type="submit" id="log-button" value="Login">
                    </div>
                </form>
                <div class="log-textbox-top">
                    <h5>Don't have an account?<a href="{% url 'register' %}"> Register </a></h5>
                </div>
                <div class="log-error">
                    <p id="error">
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </p> 
                </div>
            </div>
        </div>
        <script src="" async defer></script>
    </body>
</html>