{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Turing Code</title>
        <meta name="description" content="">
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel="stylesheet" href="{% static 'assets/css/style-2.css' %}">
        <link rel="icon" type="image/png" href="{% static 'assets/img/icon.png' %}">
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['Easy', {{ context.e_level}}],
                ['Difficult', {{ context.d_level}}],
                ['Modrate', {{ context.m_level}}]
            ]);

            var options = {
                title: 'Paper Difficulty Level',
                is3D: true
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
            chart.draw(data, options);
            }
        </script>
    </head>
    <body>

        <!--loader code -->
        <div class="loading-overlay">
            <img src="{% static 'assets/img/refresh.png' %}" alt="Loading Icon">
        </div>
        <!--loader code end here-->


        <div class="content">
            
            {% include 'menu.html' %}

            <div class="content-container">
                <div class="content-container-header">
                    <img src="{% static 'assets/img/right-arrow.png' %}"><h2>{{ context.TestName }}</h2>
                </div>

                <div class="test-report">
                <div class="test-report-content">
                    <div class="test-report-content-1">

                        <div class="test-report-box">
                            <div class="test-report-box-outer">
                                <h2> {{ context.Rank }} / {{ context.RankOutOf }} </h2>
                            </div>
                            <div class="test-report-box-inner">
                                <p>Rank</p>
                            </div>
                        </div>

                        <div class="test-report-box">
                            <div id="test-report-box-2" class="test-report-box-outer">
                                <h2>{{ context.TotalUseTime }} / {{ context.TotalTime }}</h2>
                            </div>
                            <div class="test-report-box-inner">
                                <p>Time</p>
                            </div>
                        </div>

                        <div class="test-report-box">
                            <div id="test-report-box-3" class="test-report-box-outer">
                                <h2>{{ context.Percentage }} %</h2>
                            </div>
                            <div class="test-report-box-inner">
                                <p>Percentage</p>
                            </div>
                        </div>
                        <!--
                        <div class="test-report-box">
                            <div id="test-report-box-4" class="test-report-box-outer">
                                <h2>26 / 55</h2>
                            </div>
                            <div class="test-report-box-inner">
                                <p>Correct Question</p>
                            </div>
                        </div>

                        <div class="test-report-box">
                            <div id="test-report-box-5" class="test-report-box-outer">
                                <h2>7 / 55</h2>
                            </div>
                            <div class="test-report-box-inner">
                                <p>In Correct Question</p>
                            </div>
                        </div>

                        <div class="test-report-box">
                            <div id="test-report-box-6" class="test-report-box-outer">
                                <h2>22 / 55</h2>
                            </div>
                            <div class="test-report-box-inner">
                                <p>Left Question</p>
                            </div>
                        </div>
                        -->
                        <div class="test-report-box">
                            <div id="test-report-box-7" class="test-report-box-outer">
                                <h2>{{ context.GetTotalMarks }} / {{ context.MaxMarks }} </h2>
                            </div>
                            <div class="test-report-box-inner">
                                <p>Marks</p>
                            </div>
                        </div>

                        <div class="test-report-box">
                            <div id="test-report-box-8" class="test-report-box-outer">
                                <h2>{{ context.PositiveMarks }}</h2>
                            </div>
                            <div class="test-report-box-inner">
                                <p>Positive Marks</p>
                            </div>
                        </div>

                        <div class="test-report-box">
                            <div id="test-report-box-9" class="test-report-box-outer">
                                <h2>{{ context.NegativeMarks }}</h2>
                            </div>
                            <div class="test-report-box-inner">
                                <p>Negative Marks</p>
                            </div>
                        </div>

                    </div>
                    
                    <div class="test-report-content-2">
                        <div id="piechart_3d"></div>
                        <div class="test-question-report">
                            <div id="question-report-4" class="test-question-report-inner">
                                <img src="{% static 'assets/img/question-mark.png' %}">
                                <p>Question Attempt : {{ context.TotalAttemptQuestion }}</p>
                            </div>
                            <div id="question-report-1" class="test-question-report-inner">
                                <img src="{% static 'assets/img/check-mark.png' %}">
                                <p>Correct Question : {{ context.TotalCorrectQuestion }}</p>
                            </div>
                            <div id="question-report-2" class="test-question-report-inner">
                                <img src="{% static 'assets/img/rejected.png' %}">
                                <p>In Correct Question : {{ context.TotalIncorrectQuestion }}</p>
                            </div>
                            <div id="question-report-3" class="test-question-report-inner">
                                <img src="{% static 'assets/img/question-mark (1).png' %}">
                                <p>Left Question : {{ context.TotalLeftQuestion }}</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="test-report-content-3">
                        <a href="http://turingcode.in/test-series/test-series-details/test-comparison-report/test-question-analysis/{{ context.TestSeries_Slug }}/{{ context.Test_Slug }}">
                            <input type="button" id="question-analysis-button" value="Question Analysis">
                        </a>
                        <a href="http://turingcode.in/test-series/test-series-details/test-comparison-report/solutions/{{ context.TestSeries_Slug }}/{{ context.Test_Slug }}">
                            <input type="button" id="question-view-solution-button" value="View Solution">
                        </a>
                    </div>
                    <div class="test-report-content-4">
                        <h2>Toppers</h2>
                        <table id="MyTable">
                            <tr>
                                <th>Rank</th>
                                <th>Name</th>
                                <th>Marks</th>
                                <th>Time</th>
                                <th>Accuracy</th>
                                <th>Attempt Q.</th>
                                <th>Correct Q.</th>
                                <th>In Correct Q.</th>
                                <th>Left Q.</th>
                            </tr>
                            {% for test in TestStatus %}
                                <tr>
                                    <td> <input type="button" id="student-rank-button-1" value="{{ forloop.counter }}"> </td>
                                    <td> {{ test.student.name|title }} </td>
                                    <td> {{ test.total_marks }} </td>
                                    <td> {{ test.use_time|format_seconds }} </td>
                                    <td> {% for x in test.student_test_status_set.all %} {{ x.accuracy|floatformat:0 }} %  {% endfor %} </td>
                                    <td> {% for x in test.student_test_status_set.all %} {{ x.attempted_question }}  {% endfor %} </td>
                                    <td> {% for x in test.student_test_status_set.all %} {{ x.correct_question }}  {% endfor %} </td>
                                    <td> {% for x in test.student_test_status_set.all %} {{ x.incorrect_question }}  {% endfor %} </td>
                                    <td> {% for x in test.student_test_status_set.all %} {{ x.left_question }}  {% endfor %} </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>

                </div>
                </div>

            </div>
        </div>
        <script>
            function openNav() {
              document.getElementById("mySidenav").style.width = "75vw";
            }
            
            function closeNav() {
              document.getElementById("mySidenav").style.width = "0";
            }
        </script>

        <script>
            // Wait for the page to load
            window.addEventListener('load', function () {
                // Hide the loading overlay once the page has loaded
                const loadingOverlay = document.querySelector('.loading-overlay');
                loadingOverlay.style.display = 'none';
            });
        </script>
    </body>
</html>
