<!DOCTYPE <!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Turing Code</title>
        <meta name="description" content="">
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel="stylesheet" href="assets/css/style-2.css">
        <link rel="icon" type="image/png" href="assets/img/icon.png">
    </head>
    <body>
        <!--loader code -->
        <div class="loading-overlay">
            <img src="{% static 'assets/img/refresh.png' %}" alt="Loading Icon">
        </div>
        <!--loader code end here-->
        
        <div class="content">

            <!-- include menu.html file-->
            {% include 'menu.html' %}

            <div class="content-container">
                <div class="content-container-header">
                    <img src="assets/img/right-arrow.png"><h2>Test Series / (UGC NET/JRF December 2023)</h2>
                </div>

                <div class="test-details">

                    <div class="test-details-content">
                        <div id="test-special" class="test-details-content-1">
                            <h3>Theory of Computation</h3>
                        </div>
                        <div class="test-details-content-2">
                            <img src="assets/img/check.png">
                            <p>Time Remaning : 10 Days </p>
                        </div>
                        <div class="test-details-content-2">
                            <img src="assets/img/check.png">
                            <p>Total Question : 65</p>
                        </div>
                        <div class="test-details-content-2">
                            <img src="assets/img/check.png">
                            <p>Duration : 3 Hours</p>
                        </div>
                        <div class="test-details-content-2">
                            <img src="assets/img/check.png">
                            <p>Total Marks : 100</p>
                        </div>
                        <div class="test-details-content-button">
                            <input type="button" id="test-start-button" value="Start">
                        </div>
                    </div>


                    <div class="test-details-content">
                        <div class="test-details-content-1">
                            <h3>Algorithm</h3>
                        </div>
                        <div class="test-details-content-2">
                            <img src="assets/img/check-mark.png">
                            <p>Time Remaning : 10 Days </p>
                        </div>
                        <div class="test-details-content-2">
                            <img src="assets/img/check-mark.png">
                            <p>Total Question : 65</p>
                        </div>
                        <div class="test-details-content-2">
                            <img src="assets/img/check-mark.png">
                            <p>Duration : 3 Hours</p>
                        </div>
                        <div class="test-details-content-2">
                            <img src="assets/img/check-mark.png">
                            <p>Total Marks : 100</p>
                        </div>
                        <div class="test-details-content-button">
                            <input type="button" id="test-report-button" value="View Report">
                        </div>
                    </div>


                    <div class="test-details-content">
                        <div id="test-special" class="test-details-content-1">
                            <h3>Computer Organization & Architecture</h3>
                        </div>
                        <div class="test-details-content-2">
                            <img src="assets/img/check.png">
                            <p>Time Remaning : 10 Days </p>
                        </div>
                        <div class="test-details-content-2">
                            <img src="assets/img/check.png">
                            <p>Total Question : 65</p>
                        </div>
                        <div class="test-details-content-2">
                            <img src="assets/img/check.png">
                            <p>Duration : 3 Hours</p>
                        </div>
                        <div class="test-details-content-2">
                            <img src="assets/img/check.png">
                            <p>Total Marks : 100</p>
                        </div>
                        <div class="test-details-content-button">
                            <input type="button" id="test-expire-button" value="Expire">
                        </div>
                    </div>

                    <div class="test-details-content">
                        <div class="test-details-content-1">
                            <h3>Database</h3>
                        </div>
                        <div class="test-details-content-2">
                            <img src="assets/img/check-mark.png">
                            <p>Time Remaning : 10 Days </p>
                        </div>
                        <div class="test-details-content-2">
                            <img src="assets/img/check-mark.png">
                            <p>Total Question : 65</p>
                        </div>
                        <div class="test-details-content-2">
                            <img src="assets/img/check-mark.png">
                            <p>Duration : 3 Hours</p>
                        </div>
                        <div class="test-details-content-2">
                            <img src="assets/img/check-mark.png">
                            <p>Total Marks : 100</p>
                        </div>
                        <div class="test-details-content-button">
                            <input type="button" id="test-report-button" value="View Report">
                        </div>
                    </div>

                    <div class="test-details-content">
                        <div id="test-special" class="test-details-content-1">
                            <h3>Operating System</h3>
                        </div>
                        <div class="test-details-content-2">
                            <img src="assets/img/check.png">
                            <p>Time Remaning : 10 Days </p>
                        </div>
                        <div class="test-details-content-2">
                            <img src="assets/img/check.png">
                            <p>Total Question : 65</p>
                        </div>
                        <div class="test-details-content-2">
                            <img src="assets/img/check.png">
                            <p>Duration : 3 Hours</p>
                        </div>
                        <div class="test-details-content-2">
                            <img src="assets/img/check.png">
                            <p>Total Marks : 100</p>
                        </div>
                        <div class="test-details-content-button">
                            <input type="button" id="test-expire-button" value="Expire">
                        </div>
                    </div>

                </div>

            </div>
        </div>
        
        <script>
            function openNav() {
              document.getElementById("mySidenav").style.width = "75vw";
            }
            
            function closeNav() {
              document.getElementById("mySidenav").style.width = "0";
            }
        </script>

        <script>
            // Wait for the page to load
            window.addEventListener('load', function () {
                // Hide the loading overlay once the page has loaded
                const loadingOverlay = document.querySelector('.loading-overlay');
                loadingOverlay.style.display = 'none';
            });
        </script>
    </body>
</html>