{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" type="image/png" href="{% static 'assets/img/icon.png' %}">
        <title>Turing Code</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'assets/css/style-1.css' %}" type="text/css" media="all">
        <script>
            document.addEventListener('keydown', function (e) {
              if (e.code === 'KeyU' && (e.ctrlKey || e.metaKey)) {
                e.preventDefault();
                //alert('View source is disabled.');
              }
            });
        
            document.addEventListener('contextmenu', function (e) {
              e.preventDefault();
              //alert('Right-click is disabled.');
            });
          </script>
    </head>
    <body>
        <!--loader code -->
        <div class="loading-overlay">
            <img src="{% static 'assets/img/refresh.png' %}" alt="Loading Icon">
        </div>
        <!--loader code end here-->

        <div class="container">
            <div class="instruction-content">
                <div class="instruction-content-left">
                    <div class="inst-header">
                        <div class="logo">
                            <img src="{% static 'assets/img/white_logo.png' %}">
                            <p>Turing Code Online Test Series for GATE (CS, DS & AI) and UGC NET/JRF (Computer Science and Applications) </p>
                        </div>
                        <div class="inst-top-1">
                            <p>Disclaimer</p>
                        </div>
                    </div>
                    <div class="inst-content-1">
                        <div class="inst-content-1-top">
                            {% autoescape off %}
                                {{ testinstruction_2.instruction_2 }}
                            {% endautoescape %}
                        </div>
                        <div class="inst-content-1-bottom">
                            <div class="accept-read-inst">
                            <form action="{% url 'new_test' %}" method="get">
                                <input type="checkbox" required> <span style="color: #ff0000;font-size:14px;"> I have read and understood all the instructions. </span>
                            </div>
                        </div>
                    </div>
                    <div class="inst-bottom">
                        <div class="inst-bottom-left">
                            <a href="http://127.0.0.1:8000/test-instruction-1/{{exam}}/{{test_slug}}"><input type="button" id="inst-previous-button" value="Previous"></a>
                        </div>
                        <div class="inst-bottom-right">
                            <input type="hidden" value="{{test_slug}}" name="test">
                            <input type="submit" id="inst-begin-button" value="I am ready to begin">
                        </form>
                        </div>
                    </div>
                </div>
                <div class="instruction-content-right">
                    <div class="profile">
                        <div class="student-pic-ins">
                            {% if student.student_info_set.all %}
                                {% for info in student.student_info_set.all %}
                                    <img src="{{ info.profile_pic.url }}">
                                {% endfor %}
                            {% else %}
                                <img src="{% static 'assets/img/student-icon.png' %}">
                            {% endif %}
                        </div>
                        <div class="student-name">
                            <p>{{ student.name|title }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    <script src="" async defer></script>
    <script>
        // Wait for the page to load
        window.addEventListener('load', function () {
            // Hide the loading overlay once the page has loaded
            const loadingOverlay = document.querySelector('.loading-overlay');
            loadingOverlay.style.display = 'none';
        });
    </script>
    </body>
</html>
