body{
    margin:0;
    font-family: inherit;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    height:100vh;
}

.content-box{
    height:auto;
    width:400px;
    border-radius: 2px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.log-logo{
    height:80px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:30px 0 30px 0;
}
.log-logo img{
    max-height:80px;
    width:216px;
    border-radius: 2px;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
}
.log-textbox-top{
    height:30px;
    margin:10px 30px 0 30px;
}
.log-textbox-top h3{
    font-size:15px;
    padding:5px;
    color:#404040;
}
.log-textbox-top h4{
    font-size:13px;
    text-align: right;
}
.log-textbox-top h5{
    font-size:14px;
    text-align: center;
}
.log-textbox-top a{
    text-decoration:none;
    color:rgb(151, 65, 151);
    font-weight: bold;
}
.log-textbox-bottom{
    height:50px;
    margin:0px 30px 10px 30px;
    border-bottom:2px solid #ff7373;
    border-radius: 2px;
    display: flex;
}
.log-textbox-bottom:hover{
    border-bottom:2px solid #008080;
}
.log-textbox-bottom-left{
    height:50px;
    width:10%;
}
.log-textbox-bottom-right{
    height:50px;
    width:80%;
}
.password-show{
    width:10%;
}
#showPasswordButton{
    border:0px;
    background-color: #fff;
}
#passwordInput{
    height:50px;
    width:100%;
    border:0px;
    outline: none;
    margin:0;
    padding:0;
    font-size: 14px;
}
#passwordInput1{
    height:50px;
    width:100%;
    border:0px;
    outline: none;
    margin:0;
    padding:0;
    font-size: 14px;
}
#showPasswordButton1{
    border:0px;
    background-color: #fff;
}
.fas{
    font-size:16px;
    padding-top:16px;
    padding-left:5px;
    color:#ff4c4c;
}
.fa{
    font-size:16px;
    padding-top:16px;
    padding-left:5px;
    color:#ff4c4c;
}
#log-textbox{
    height:50px;
    width:100%;
    border:0px;
    outline: none;
    margin:0;
    padding:0;
    font-size: 14px;
}

.log-button{
    height:50px;
    margin:0 30px 30px 30px;
}
#log-button{
    height:50px;
    width:100%;
    border:0px;
    color:#fff;
    background-color:  #ff4c4c;
    border-radius: 2px;
    font-size:15px;
    cursor: pointer;
}
.log-error{
    max-height:70px;
}
.log-error p{
    text-align: center;
    color:red;
}

.register-condition{
    margin:0 30px 0 30px;
}
.register-condition span{
    font-size:14px;
}
.sign-button{
    height:50px;
    margin:10px 30px 30px 30px;
    background-color: aqua;
}
#sign-button{
    height:50px;
    width:100%;
    border:0px;
    color:#fff;
    background-color:  #ff4c4c;
    border-radius: 2px;
    font-size:15px;
    cursor: pointer;
}
.sign-error{
   max-height:70px;
}
.sign-error p{
    text-align: center;
    color:red;
 }

 /*django template message style start here*/
 /* Example styles for different message levels */
.success {
    color: green;
}

.error {
    color: red;
}

.warning {
    color: orange;
}

.info {
    color: blue;
}
 /*django template message style end here*/
/* Styles for all devices */

/* Styles for screens up to 767px (mobile) */
@media (max-width: 767px) {
    /* CSS styles specific to mobile devices */
    .content-box{
        width:96%;
        margin:2%;
    }
  }
  
  /* Styles for screens between 768px and 1023px (tablet) */
  @media (min-width: 768px) and (max-width: 1023px) {
    /* CSS styles specific to tablets */
  }
  
  /* Styles for screens 1024px and above (PC) */
  @media (min-width: 1024px) {
    /* CSS styles specific to PCs */
}