body{
  margin:0px;
  width: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  width: 100vw;
  overflow: auto;
  flex-direction: column;
  background-color: #fbfbfb;
}
.content-ineer{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  border:1px solid #dcdcdc;
  padding:10px;
}

.logo{
  margin:20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
}
.logo img{
  border:2px;
  height:76px;
  width:216px;
}

/* Basic table styling */
.my-table {
  width: 100%;
  border-collapse: collapse;
}

.my-table th,
.my-table td {
  border: 1px solid #ddd;
  padding: 16px;
  font-weight: normal;
}

.my-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.my-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.bottom{
  margin-top:20px;
}
.button{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

/* Apply some basic styles to the textarea */
#my-textarea {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical; /* Allow vertical resizing */
  width: 90%;
}

/* Optional: Style the label for better presentation */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

#submit-button{
  border:none;
  border-radius: 2px;
  margin:15px;
  padding:10px 15px;
  color:#fff;
  background-color: #ff4c4c;
}

/*test error style start here*/
.content-ineer-1{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
border:1px solid #dcdcdc;
padding:10px;
}
.logo-1{
margin:20px;
display: flex;
justify-content: center;
align-items: center;
width:100%;
}
.logo-1 img{
border:2px;
height:150px;
width:150px;
}
.top h2{
text-align: center;
font-size:20px;
color:red;
padding:10px 50px;
margin:0px;
}
.top h3{
text-align: center;
font-weight: normal;
font-size:16px;
padding:8px 50px;
margin:0px;
color:black;
}
#button{
border:none;
border-radius: 2px;
margin:15px;
padding:10px 30px;
color:#fff;
background-color: orangered;
font-size:16px;
}



@media (max-width: 600px) {
  table {
      max-width:95%;
      margin:10px;
      font-size: 12px;
  }
  .my-table th,
  .my-table td {
    border: 1px solid #ddd;
    padding:12px 5px;
  }
  .content-ineer{
      padding:0px;
      margin:0px;
      border:0px;
  }
  #my-textarea{
      margin-left:20px;
      max-width: 85%;
  }
  label{
      margin-left:20px;
  }
  .content-ineer-1{
    margin:10px;
  }
  .top h2{
    padding:8px 10px;
    font-size:17px;
  }
  .top h3{
    padding:8px 10px;
    font-size:15px;
    color:black;
  }
}
